@import url('all.min.css');
@import url('partial/globle.css');
@import url('partial/variables.css');


/*Start of styling for Banner*/
.banner{
	background: url('../images/menu-images/banner.jpg')no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	top:4.2rem;
	left:0;
	right: 0;
	z-index: 10;
	overflow-x: hidden; 
}
.banner .banner-menu{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 4rem 0;
}
.banner .banner-menu h1{
	color:#fff;
}
/*End of styling for Banner*/
/*Start of styling for Menu-grid*/
.menu-grid{
	position: relative;
	top:4.2rem;
	left:0;
	right: 0;
	z-index: 10;
	padding: 4rem 2rem 8.2rem 2rem;
}
.menu-grid .grid-heading ul{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	list-style-type: none;
}
.menu-grid .grid-heading ul li{
	margin:1rem 2rem 1rem 0;
}
.menu-grid .grid-heading ul li a{
	text-decoration: none;
	color:black;
	font-size: 14px;
	font-weight: 600;
	transition: all .4s ease;
}
.menu-grid .grid-heading ul li i{
	color:var(--gold);
	transition: all .4s ease;
}
.menu-grid .grid-heading ul li a:hover{
	color:var(--pink);
}
.menu-grid .grid-heading ul li a:hover i{
	color:var(--pink);
}
.menu-grid .grid-heading ul .active{
	color:var(--pink);
}
.menu-grid .grid-row .grid-list {
	margin-top: 2rem;
}
.menu-grid .grid-row .grid-list .grid-price{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.menu-grid .grid-row .grid-list .grid-price h4{
	margin-top: .5rem;
}
.menu-grid .grid-row .card{
	border:none;
	box-shadow: var(--box-shadow);
	margin-bottom: 2rem;
}
.menu-grid .grid-btn a{
	text-decoration: none;
}
/*style for tile list*/
/*End of styling for Menu-grid*/
.menu-grid .grid-row .tile-img{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0 0 0 1rem;
}
.menu-grid .grid-row .tile-img img{
	margin-bottom: 1.6rem;
	display: flex;
	flex-flow: column wrap;
}
.menu-grid .grid-row .tile-list .grid-price{
	display: flex;
	flex-flow: row wrap;
	justify-content:space-between;
	margin-top: .4rem;
}
/*Start of styling for Speciality*/
.speciality{
	margin:0;
	padding: 0;
	overflow-x: hidden;
}
.speciality .speciality-img{
	background: url('../images/menu-images/speciality.jpg')no-repeat;
	background-position: top center;
	background-size: cover;
	width: 100%;
	height: 458px;
	padding-right: 0;
}
.speciality .speciality-desc{
	padding: 4rem 10rem 4rem 2rem;
	background: #ecf1f4;
}
.speciality .speciality-desc .desc-d{
	margin-top:1.5rem;
}
/*End of styling for Speciality*/
/*Start styling for Opening*/
.opening{
	padding: 4rem 2rem;
}
.opening .opening-desc{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.opening .opening-desc .opn-day h6{
	color:var(--gray);
}
/*End styling for Opening*/
