.container-fluid{
	margin:0;
	padding:0;
}
.wrapper{
	padding-right: 10%;
	padding-left: 10%;
	margin-right: auto;
	margin-left: auto;
}
.gold{
	color:var(--gold);
}
.pink{
	color:var(--pink);
}
p{
	font-size: 14px;
}
h1{
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
}
h2{
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}
h3{
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
}
h4{
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
}
h5{
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}
h6{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.gold-btn{
	background: var(--gold);
	border:1px solid transparent;
	color:#fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	padding: .4rem .8rem;
	border-radius: 4px;
	transition: all .6s ease-out;
}
.gold-btn:hover{
	background: #fff;
	border:1px solid var(--gold);
	color:var(--gold);
}
/*Style for Navbar*/
header{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	z-index: 222;
	background: #fff;
}
.navbar .nav-item .nav-link{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color:var(--gray);
	transition: all .4s ease;
}
.navbar-light .navbar-nav .nav-link.active{
	color:var(--gold);
}
.navbar .nav-item .nav-link:hover{
	color:var(--gold);
}
.navbar .nav-item .pink-count .bg-pink{
	padding: .4rem .4rem 0 .4rem;
	background: var(--pink);
	border-radius: 49%;
}
.navbar .nav-item img{
	padding-right: .5rem;
}
.navbar .nav-item .btn{
	background: var(--gold);
	padding: .5rem .5rem;
	border:1px solid #fff;
	outline:3px solid var(--gold);
	transition: .4s ease;
}
.navbar .nav-item .btn:hover{
	color:#fff;
}

/*End style for Navbar*/
/*Start styling for Footer*/
footer{
	width: 100%;
	background: #373844;
	padding: 0 2rem;
}
.footer-nav,
.footer-news,
.footer-app{
	padding-top: 3rem;
	padding-bottom: 1rem;
}
.footer-nav h4,
.footer-news h4,
.footer-app h4{
	padding-bottom: .6rem;
	color:#fff;
}
.footer-nav .footer-link{
	display: flex;
	flex-direction: column;
}
.footer-nav .footer-link a{
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color:#898b92;
	padding: .4rem 0;
	transition: all .4s ease;
}
.footer-nav .footer-link a:hover{
	color:#fff;
}
.footer-news p{
	color:#898b92; 
	font-size: 14px;
	font-weight: 500;
}
.footer-news form{
	padding-top: .6rem;
}
.footer-news form input{
    outline: none;
    border:none;
	padding: .2rem .3rem .4rem .3rem;
	margin-top: .1rem;
    border:1px solid #898b92;
    border-radius: 4px;
    background: transparent;
}
.footer-news .footer-icon{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-top: 3rem;
}
.footer-news .footer-icon i{
	font-size: 24px;
	color:#fff;
	margin-right: 1rem;
	transition: .4s ease;
}
.footer-news .footer-icon i:hover{
	color:var(--gold);
}
.footer-news .footer-icon .fa-facebook-f{
	padding: 1rem 1.3rem;
	background: #3b5998;
	border-radius: 49%;
}
.footer-news .footer-icon .fa-twitter{
	padding: 1rem;
    background: #55acee;
	border-radius: 49%;	
}
.footer-news .footer-icon .fa-google-plus-g{
	padding: 1rem .9rem;
    background: #dd4b39;
	border-radius: 49%;	
}
.footer-app img{
	margin-bottom: .4rem;
	margin-top: .6rem;
	border-radius: 6px;
}
/*End styling for Footer*/
@media (max-width: 1199.98px) {
	.wrapper{
	padding-right: 0;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto;
    }
@media (max-width: 767.98px) {
	.footer-app img{
	width: 140px;
	height: auto;
}
}