html, body{
	margin:0;
	padding:0;
	box-sizing:border-box;
	width: 100%;
	height: 100%;
}
:root{
	--gold:#fea100;
	--gray:#2c465a;
	--pink:#fe4c8d;
	--box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}